* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* How the background image is made */
.showcase {
    background: linear-gradient(rgba(20,20,20, 0.5), rgba(20,20,20, 0.5)),
     url("https://cdn.pixabay.com/photo/2020/05/20/06/47/mountain-5195052_1280.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.showcase-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
    padding-top: 7rem;
    
}

.showcase-text-container {
    color: white;
    width: 800px;
}

.showcase-header {
    font-size: 3rem;
    padding-bottom: 1rem;
    width: 60%
}

.showcase-subheading {
    width: 60%;
    padding-bottom: 2rem;
    font-size: 20px;
    font-weight: 200;
}


.btn-container {
    display: flex;
    column-gap: 20px;
}

.btn {
   height: 2.6rem;
   width: 120px;
   font-size: 16px;
   font-weight: 550;
}

.background {
    background-color: transparent;
    color: white;
    border: white solid 2px;
}

.green-bg {
    background-color: #01af01;
    color: white;
    border: none;
}

.image-itself {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

/* Media Queries */

@media screen and (max-width:1255px) {

    .showcase {
    height: 1400px;
}

    .showcase-content-container {
        
        row-gap: 2rem;
        
    }

    .showcase-text-container {
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .showcase-header {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .showcase-subheading {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .btn-container {
        justify-content: center;
    }
    .btn {
   height: 2.6rem;
   width: 140px;
   font-size: 16px;
   font-weight: 550;
    }

    .img-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    .img-itself {
        width: 50%;
        margin: 0 auto;
    }
    
    
}

@media screen and (max-width:900px) {
    .showcase-content-container {
        flex-wrap: wrap;
    }

        .showcase {
    height: 1000px;
}
}