* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* How the background image is made */
.showcase {
    background: linear-gradient(rgba(20,20,20, 0.5), rgba(20,20,20, 0.5)),
     url("https://cdn.pixabay.com/photo/2020/05/20/06/47/mountain-5195052_1280.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.showcase-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
    padding-top: 7rem;
    
}

.showcase-text-container {
    color: white;
    width: 800px;
}

.showcase-header {
    font-size: 3rem;
    padding-bottom: 1rem;
    width: 60%
}

.showcase-subheading {
    width: 60%;
    padding-bottom: 2rem;
    font-size: 20px;
    font-weight: 200;
}


.btn-container {
    display: flex;
    column-gap: 20px;
}

.btn {
   height: 2.6rem;
   width: 120px;
   font-size: 16px;
   font-weight: 550;
}

.background {
    background-color: transparent;
    color: white;
    border: white solid 2px;
}

.green-bg {
    background-color: #01af01;
    color: white;
    border: none;
}

.image-itself {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}